footer {
    background-color: var(--red);
    position: absolute;
    top: 2600px;
    align-items: center;
}

.logo_footer {
    color: var(--white);
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    position: absolute;
    font-weight: 800;
    font-size: 20px;
}

.logo2_footer {
    align-items: center;
    color: var(--white);
}

.texto_footer {
    align-items: center;
    color: var(--white);
}
